// 颜色定义规范
$color-background = #f4f8f7
$color-bar-background = #002E36 // header nav 的背景
$color-theme = #345F59
$color-theme-sub = #FFE9BF
$color-text = #333333
//$color-text-sub = #51B7A9
$color-text-sub = #007A49
$color-text-w = #EFEFF1
//$color-text-g = #262626
$color-text-g = #002E36
$color-border = #eeeeee
$color-border-sub = #dddddd

//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px